.button1{
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 25px
px
;
}

.button2{
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 25px
}

.buy-detail{
text-align: right;
display: block;
width: 50%;
position: relative;
}